
<form id="formCadastroBeneficiario" method="post">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João da Silva" maxlength="50">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="CPF">CPF:</label>
                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 010.011.11-00" maxlength="14">
            </div>
        </div>
        <h1></h1>
        <div class="col-md-2">
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
            </div>
        </div>
    </div>
</form>


@section scripts{
    <script>
        var urlAlteracao = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlExcluir = '@Url.Action("Excluir", "Beneficiario", new { area = "" })';
        var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';

    </script>
    @Scripts.Render("~/bundles/listBeneficiarios")
}
<table id="gridClientes" class="table"></table>
